@font-face {
    font-family: Helvetica;
    src: url(Helvetica.ttf);
  }


html{
    height: 100%;
    background: url(bg.jpeg) no-repeat center;
    background-size: cover;
    font-family: Helvetica;
}

body{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(13px);
    margin: 0;
}


h1{
    font-size: 5em;
    margin: 0;
    margin-bottom: 1em;
}

h2{
    margin: 0.5em;
    /*border-bottom: solid #c910bd21 1px;*/
}

.ceromarginbot{
    margin-bottom: 0 !important;
}

.mainco{
    display: flex;
    flex-direction: column;
    align-items: center;
    /*margin-left: 3em;
    margin-right: 3em;
    box-shadow: 0px 0 20px 2px #01011D;
    padding: 2em;*/
    border-radius: 1em;
    padding: 5em !important;
    /*background-color: #ffffff26;*/
}

#profils{
    display: flex;
    padding-bottom: 7em;
    flex-wrap: wrap;
    justify-content: center;
}

.profil{
    display: flex;
    /*border: solid 1px 	 #01011D;*/
    background: 	#ffffed;
    border-radius: 0.7em;
    height: 12em;
    width: 12em;
    max-width: 14vh;
    max-height: 14vh;
    align-items: center;
    justify-content: center;
    transition-duration: 137ms;
    transition-timing-function: ease-in-out;
    background-size: cover !important;
    position: relative;
    margin: 1em;
}

.profil:hover{
    transform: scale(104%);
}

.conteneurprofil{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name{
    font-size: large;
}

.centrerimg{
    height: 70%;
    opacity: 77%;
}

#addprofil{

}


.box{
    /*background-color: #d14fff3b;*/
    background: linear-gradient(81deg, #d04bff2e, #ff2dc838);
    box-shadow: 0 0 7px 4px #6d29853d;
    padding: 1em;
    border-radius: 0.7em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}

@media only screen and (hover: none) and (pointer: coarse){
    .box{
        font-size: 2em;
    }
  }

#form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#avatarinput{
    height: 70%;
    opacity: 0.5;

}

#labelavatar{
    display: flex;
    height: 5em;
    width: 5em;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 5px 0px black;
    border-radius: 1em;
    background: #FFFAFA;
    transition-duration: 150ms;
    margin: 2em;
    background-size: contain !important;
    background-repeat: no-repeat !important;
}

#labelavatar:hover{
    transform: scale(97%);
    filter: brightness(0.95);
}

.input{
    margin: 1em;
    box-shadow: 0 0 5px 0px black;
    border-radius: 0.3em;
    border: white 1px solid;
    padding: 0.1em;
    background-color: white;
    font-size: 1em;
}

.input:invalid:focus{
    border: 1px red solid;
    background-color: rgb(255, 179, 179);
}
/*
.input:valid{
    border: 1px rgb(0, 255, 64) solid;
    background-color: rgb(179, 255, 195);
}*/

.btn{
    transition-duration: 100ms;
    margin-top: 2em;
}

.btn:hover{
    transform: scale(97%);
}
.btn:active{
    transform: scale(103%);
}


.conteneur{
    display: flex;
    flex-direction: row;
    width: 80vw;
    max-height: 80vh;
    overflow-y: scroll;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    justify-content: flex-start;
    background-color: #ea99ff30;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.getParent{
    width: 100%;
    padding: 0.3em;
    padding-left: 0.7em;
    border-bottom: solid 1px #7500a324;
    background-color: #c55fe91c;
    cursor: pointer;
    transition-duration: 70ms;
}
.getParent:hover{
    background-color: rgba(133, 0, 145, 0.137);
}

.filename{
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.file{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    min-width: 6vh;
    width: 10em;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    margin-right: auto;
    transition-duration: 50ms;
}
.file:hover{
    background-color: rgba(77, 17, 88, 0.144);
}


.miniafile{
    max-width: 80%;
    max-height: 7em;
}

.dossselec{
    background: #fe90ff4d;
    width: 98%;
    padding: 0.1em;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    display: flex;
    justify-content: space-between;
}

.barrefldr{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 80vw;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background: #3d006b4d;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
}

#slctfldr{
    padding: 0.1em;
}